In [31]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
from config import MINIO_BUCKET_RAW, MINIO_BUCKET_PROCESSED
from etl.transformer import transform_html_to_tables, transform_tables
from etl.writer import write_to_parquet, write_to_postgres
from etl.reader import read_htmls_from_minio, read_from_parquet, read_from_postgres
from clients.postgres_client import get_postgres_properties
from clients.spark_client import create_spark_session
from logger import get_logger
import pyspark.sql.functions as F

In [ ]:
spark = create_spark_session()
postgres_props = get_postgres_properties()

2025-05-04 15:27:24,724 - INFO - VRNFSO_ETL - Starting ETL job

In [ ]:
html_pairs = read_htmls_from_minio(MINIO_BUCKET_RAW)

events_df, distances_df, results_df = transform_html_to_tables(html_pairs, spark)

2025-05-04 15:27:33,126 - INFO - VRNFSO_ETL - Читаем HTML из MinIO
2025-05-04 15:27:33,459 - INFO - VRNFSO_ETL - Парсим HTML в DataFrame

In [ ]:

write_to_parquet(events_df, f"s3a://{MINIO_BUCKET_PROCESSED}/events/")
write_to_parquet(distances_df, f"s3a://{MINIO_BUCKET_PROCESSED}/distances/")
write_to_parquet(results_df, f"s3a://{MINIO_BUCKET_PROCESSED}/results/")

25/05/02 21:31:37 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
25/05/02 21:32:01 WARN DAGScheduler: Broadcasting large task binary with size 1004.1 KiB
25/05/02 21:32:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/05/02 21:32:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [ ]:
logger.info("Считываем из Parquet")
read_events_df = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/events/")
read_distances_df = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/distances/")
read_results_df = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/results/")

25/05/04 11:56:06 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

In [ ]:
transformed_events, transformed_groups, transformed_participants, transformed_results = transform_tables(read_events_df, read_distances_df, read_results_df)

In [10]:
write_to_parquet(transformed_events, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_events/")
write_to_parquet(transformed_groups, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_groups/")
write_to_parquet(transformed_participants, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_participants/")
write_to_parquet(transformed_results, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_results/")

25/05/04 11:59:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [39]:
read_transformed_events = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_events/")
read_transformed_groups = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_groups/")
read_transformed_participants = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_participants/")
read_transformed_results = read_from_parquet(spark, f"s3a://{MINIO_BUCKET_PROCESSED}/transformed_results/")

In [15]:
write_to_postgres(read_transformed_events, "events", postgres_props)

In [40]:
events_lookup = read_from_postgres(spark, "events", postgres_props).select("event_id", "event_date")

In [41]:
read_transformed_groups = read_transformed_groups.join(
    events_lookup,
    on="event_date",
    how="inner"
).select("group_name", "cp", "length_km", "event_id")

In [43]:
read_transformed_groups.show()

+----------+---+---------+--------+
|group_name| cp|length_km|event_id|
+----------+---+---------+--------+
|   Женщины|  8|      4.1|       1|
|   Мужчины| 10|      5.4|       1|
|       Ж16| 16|      2.3|       3|
|       М18| 17|      2.9|       3|
|       Ж55| 16|      2.3|       3|
|       Ж12|  8|      1.3|       3|
|       М35| 17|      2.9|       3|
|       М55| 14|      2.2|       3|
|       М12| 10|      1.5|       3|
|   Новички|  9|      1.1|       3|
|       Ж35| 15|      2.4|       3|
|       Ж14|  9|      1.4|       3|
|        ЖЭ| 17|      2.9|       3|
|       Ж18| 15|      2.4|       3|
|       Ж10|  8|      1.3|       3|
|       М14|  9|      1.6|       3|
|       М16| 14|      2.2|       3|
|       М10|  8|      1.3|       3|
|        МЭ| 17|      3.2|       3|
|        ЖЭ| 13|      2.4|       4|
+----------+---+---------+--------+
only showing top 20 rows

In [19]:
write_to_postgres(read_transformed_groups, "group_params", postgres_props)

In [44]:
groups_lookup = read_from_postgres(spark, "group_params", postgres_props).select("group_id", "event_id", "group_name")

In [ ]:
read_transformed_participants = read_transformed_participants.groupBy("full_name", "birth_year").agg(F.collect_set("team").alias("team"))

In [52]:
write_to_postgres(read_transformed_participants, "participants", postgres_props)

In [53]:
participants_lookup = read_from_postgres(spark, "participants", postgres_props).select("participant_id", "full_name", "team", "birth_year")

In [54]:
read_transformed_results.show()

+----------+----------+---------------+-----------------+-------------------+-------------+----------+----------+---------------+-----------+--------+
|event_date|group_name|position_number|        full_name|               team|qualification|bib_number|birth_year|finish_position|result_time|time_gap|
+----------+----------+---------------+-----------------+-------------------+-------------+----------+----------+---------------+-----------+--------+
|2024-05-18|      М-21|             24|    Ершов Дмитрий|СШОР 18 Вильденберг|            I|      1238|      2005|             24|   00:45:36|  +11:34|
|2024-05-18|      М-21|             25|   Пономарёв Иван|        Жидкий Хлеб|           МС|      1185|      1996|             25|   00:45:50|  +11:48|
|2024-05-18|      М-21|             26|   Бунегин Кирилл|      СШ 18 ИМПУЛЬС|          КМС|      1224|      2004|             26|   00:46:47|  +12:45|
|2024-05-18|      М-21|             27|     Фролов Роман|      СШОР 18 Олимп|            I|      1252|      2002|             27|   00:49:41|  +15:39|
|2024-05-18|      М-21|             28|     Бунегин Илья|      СШ 18 ИМПУЛЬС|          КМС|      1223|      2004|             28|   00:51:03|  +17:01|
|2024-05-18|      М-21|             29| Новиков Валентин|         В.Новгород|          ЗМС|       531|      1974|             29|   00:51:29|  +17:27|
|2024-05-18|      М-21|             30|   Шевяков Виктор|         Г. Ангарск|         NULL|      1273|      1998|             30|   00:51:51|  +17:49|
|2024-05-18|      М-21|             31|  Янишевский Илья|   СШОР 18 Богданка|            I|      1237|      2004|             31|   00:52:26|  +18:24|
|2024-05-18|      М-21|             32|     Карфик Данил|        Жидкий Хлеб|           II|      1183|      2002|             32|   00:52:52|  +18:50|
|2024-05-18|      М-21|             33|    Кораблин Егор|    СШОР 18 Торнадо|            I|      1259|      2005|             33|   00:54:44|  +20:42|
|2024-05-18|      М-21|             34|Косаковский Тимур|    СШОР 18 Торнадо|          КМС|      1260|      2000|             34|   00:55:51|  +21:49|
|2024-05-18|      М-21|             35|     Тузиков Иван|СШОР 18 Вильденберг|          КМС|      1239|      2004|             35|   00:56:45|  +22:43|
|2024-05-18|      М-21|             36|  Чужиков Евгений|      СШОР 18 Олимп|            I|      1253|      1995|             36|   00:56:54|  +22:52|
|2024-05-18|      М-21|             37|   Атерлей Сергей|      СШОР 18 Олимп|            I|      1246|      1994|             37|   00:56:55|  +22:53|
|2024-05-18|      М-21|             38|     Гречкин Яков|       ВУНЦ ВВС ВВА|            I|      1196|      2003|             38|   00:57:04|  +23:02|
|2024-05-18|      М-21|             39|    Гийденко Олег|       ВУНЦ ВВС ВВА|           II|      1194|      2005|             39|   01:02:50|  +28:48|
|2024-05-18|      М-21|             40|  Сорокин Серафим|        Жидкий Хлеб|          КМС|      1186|      2003|             40|   01:03:48|  +29:46|
|2024-05-18|      М-21|             41|      Шаров Артём|      СШ №18 Азимут|            I|      1229|      1992|             41|   01:06:45|  +32:43|
|2024-05-18|      М-21|             42|  Спажакин Михаил|      СШОР 18 Олимп|            I|      1251|      1992|             42|   01:10:24|  +36:22|
|2024-05-18|      М-21|             43| Пасморнов Максим|СШОР 18 Берёзовая р|          КМС|      1233|      2002|             43|   01:11:48|  +37:46|
+----------+----------+---------------+-----------------+-------------------+-------------+----------+----------+---------------+-----------+--------+
only showing top 20 rows

In [56]:
read_transformed_results = read_transformed_results \
    .join(events_lookup, on="event_date", how="inner") \
    .join(groups_lookup, on=["event_id","group_name"], how="inner") \
    .join(participants_lookup, on=["full_name","birth_year"], how="inner") \
    .select(
        "event_id",
        "group_id",
        "participant_id",
        "position_number",
        "qualification",
        "bib_number",
        "finish_position",
        "result_time",
        "time_gap"
    )

In [57]:
write_to_postgres(read_transformed_results, "results", postgres_props)